<h1><%= t('rooms.room', room_id: @room.id) %></h1>

<%= link_to t('rooms.leave'), root_path %>

<p id="notice"><%= notice %></p>

<div class="messages">
  <div class="messages-inner" id="messages" data-room-id="<%= @room.id %>">
    <%= render @room.messages %>
  </div>
</div>

<%= render 'messages/form' %>
