<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Instatalk</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card text-center mt-4 mb-4">
          <div class="card-body">
            <%= t('layouts.welcome')%> <b><%= current_user.nickname %></b>!
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
